.cardList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 2rem;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 2rem;
    padding: 0.5rem;
}

