* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: rgb(64, 66, 75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 6px;
  display: flex;
  align-items: center;
  margin: 0;
}
