@import '../../../../styles/index';

.displayContainer {
  cursor: pointer;
  padding: $spacing-xs $spacing-sm;
  border-radius: $radius-sm;
  word-wrap: break-word;
  @include interactive-element;

  .placeholder {
    color: $color-gray-400;
  }
}

.input {
  width: 100%;
  height: 100%;
  padding: $spacing-xs $spacing-sm;
  font-size: inherit;
  font-family: $font-family-inherit;
  margin: 0;
}
